/**
 * Utility mixins and partials
 */

// Clearfix
%cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Prevent Select overrides user's ability to select text
%preventSelect {
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  -o-user-select     : none;
  user-select        : none;
}

// Prevent transforms from being applied on the half pixel
%preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

// Placeholder selector
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Mixin to change box model, with vendor prefixing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

// Mixin to change antialising, with vendor prefixing
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
